@(title: String, extra_css: Html = Html(""), js_variables: Html = Html(""),
extra_js: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="title" content="NLL2RDF Active Learner"/>
  <meta name="description" content="NLL2RDF Active Learner"/>
  <meta name="author" content="AUTHOR NAME"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <title>@title</title>

  <!-- CSS -->
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap-theme.min.css")'>
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/main.css")'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href='@routes.Assets.at("images/favicon.png")'>
  @extra_css
  <!-- End CSS -->

  <!-- Javascript Variables -->
  @js_variables
  <!-- End Javascript Variables -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">NLL2RDF Active Learner</a>
    </div>
  </div>
</nav>

@content

<!-- JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src='@routes.Assets.at("javascripts/jquery.min.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/bootstrap.min.js")' type="text/javascript"></script>
@extra_js
<!-- End JavaScript -->
</body>
</html>
