@(iteration: Int)

@js_variables = {
<script type="text/javascript">
  var iteration = @iteration;
</script>
}

@extra_js = {
<script src='@routes.Assets.at("javascripts/query.js")' type="text/javascript"></script>
}

@main("NLL2RDF Active Learner: Instances Query", extra_js = extra_js,
js_variables = js_variables) {
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2>Instances Query</h2>
    </div>
  </div>
  <div class="row">
    <div id="queries" class="col-md-12">
      <div class="text-center">
        <h4><i class="fa fa-spinner fa-spin fa-lg"></i></h4>
        <h4>Loading Queries</h4>
        <h5>This may take a while. Check the debug info in the console running the server.</h5>
      </div>
    </div>
  </div>
  <div id="query-instances" class="row hidden">
    <div class="col-md-6 col-md-offset-3">
      <button id="retrain" class="btn btn-primary btn-block" data-loading-text="Annotating Examples...">Annotate and Retrain (Unsupervised Feature Feedback)</button>
      <button id="retrain-no-feedback" class="btn btn-primary btn-block" data-loading-text="Annotating Examples...">Annotate and Retrain (Without Feature Feedback)</button>
      <button id="feedback" class="btn btn-primary btn-block" data-loading-text="Annotating Examples...">Annotate and Query Features</button>
    </div>
  </div>
</div>
}