@(results: Array[EvaluationResults], statResults: Array[EvaluationResults], accAndKappa: AccuracyAndKappa,
  oldResults: Array[EvaluationResults], oldStatResults: Array[EvaluationResults], oldAccAndKappa: AccuracyAndKappa)

@if(oldAccAndKappa == null) {
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h4 class="text-center">Accuracy and Kappa</h4>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-6">Accuracy</th>
        <th class="col-md-6">Kappa</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-right">@accAndKappa.accuracy</td>
        <td class="text-right">@accAndKappa.kappa</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4 class="text-center">Classes Results</h4>
    <table class="table">
      <thead>
      <tr>
        <th>Class</th>
        <th>Precision</th>
        <th>Recall</th>
        <th>FMeasure</th>
      </tr>
      </thead>
      <tbody>
      @for(result <- results) {
        <tr>
          <td>@result.id</td>
          <td class="text-right">@result.precision</td>
          <td class="text-right">@result.recall</td>
          <td class="text-right">@result.fMeasure</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4 class="text-center">Results Statistics</h4>
    <table class="table">
      <thead>
      <tr>
        <th>Statistic</th>
        <th>Precision</th>
        <th>Recall</th>
        <th>FMeasure</th>
      </tr>
      </thead>
      <tbody>
      @for(result <- statResults) {
        <tr>
          <td>@result.id</td>
          <td class="text-right">@result.precision</td>
          <td class="text-right">@result.recall</td>
          <td class="text-right">@result.fMeasure</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>

} else {

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h4 class="text-center">Accuracy and Kappa</h4>
    <table class="table">
      <thead>
      <tr>
        <th>Accuracy</th>
        <th>Kappa</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        @if(accAndKappa.accuracy - oldAccAndKappa.accuracy >= 0.01) {
          <td class="success text-right">@accAndKappa.accuracy (+@{"%.2f".format(accAndKappa.accuracy - oldAccAndKappa.accuracy)})</td>
        } else { @if(accAndKappa.accuracy - oldAccAndKappa.accuracy <= -0.01) {
          <td class="danger text-right">@accAndKappa.accuracy (@{"%.2f".format(accAndKappa.accuracy - oldAccAndKappa.accuracy)})</td>
        } else {
          <td class="text-right">@accAndKappa.accuracy</td>
        }}

        @if(accAndKappa.kappa - oldAccAndKappa.kappa >= 0.01) {
          <td class="success text-right">@accAndKappa.kappa (+@{"%.2f".format(accAndKappa.kappa - oldAccAndKappa.kappa)})</td>
        } else { @if(accAndKappa.kappa - oldAccAndKappa.kappa <= -0.01) {
          <td class="danger text-right">@accAndKappa.kappa (@{"%.2f".format(accAndKappa.kappa - oldAccAndKappa.kappa)})</td>
        } else {
          <td class="text-right">@accAndKappa.kappa</td>
        }}
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4 class="text-center">Classes Results</h4>
    <table class="table">
      <thead>
      <tr>
        <th>Class</th>
        <th>Precision</th>
        <th>Recall</th>
        <th>FMeasure</th>
      </tr>
      </thead>
      <tbody>
      @for((result, idx) <- results.zipWithIndex) {
      <tr>
        <td>@result.id</td>
        @if(result.precision - oldResults(idx).precision >= 0.01) {
          <td class="success text-right">@result.precision (+@{"%.2f".format(result.precision - oldResults(idx).precision)})</td>
        } else { @if(result.precision - oldResults(idx).precision <= -0.01) {
          <td class="danger text-right">@result.precision (@{"%.2f".format(result.precision - oldResults(idx).precision)})</td>
        } else {
          <td class="text-right">@result.precision</td>
        }}

        @if(result.recall - oldResults(idx).recall >= 0.01) {
          <td class="success text-right">@result.recall (+@{"%.2f".format(result.recall - oldResults(idx).recall)})</td>
        } else { @if(result.recall - oldResults(idx).recall <= -0.01) {
          <td class="danger text-right">@result.recall (@{"%.2f".format(result.recall - oldResults(idx).recall)})</td>
        } else {
          <td class="text-right">@result.recall</td>
        }}

        @if(result.fMeasure - oldResults(idx).fMeasure >= 0.01) {
          <td class="success text-right">@result.fMeasure (+@{"%.2f".format(result.fMeasure - oldResults(idx).fMeasure)})</td>
        } else { @if(result.fMeasure - oldResults(idx).fMeasure <= -0.01) {
          <td class="danger text-right">@result.fMeasure (@{"%.2f".format(result.fMeasure - oldResults(idx).fMeasure)})</td>
        } else {
          <td class="text-right">@result.fMeasure</td>
        }}
      </tr>
      }
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h4 class="text-center">Results Statistics</h4>
    <table class="table">
      <thead>
      <tr>
        <th>Statistic</th>
        <th>Precision</th>
        <th>Recall</th>
        <th>F-Score</th>
      </tr>
      </thead>
      <tbody>
      @for((result, idx) <- statResults.zipWithIndex) {
      <tr>
        <td>@result.id</td>
        @if(result.precision - oldStatResults(idx).precision >= 0.01) {
          <td class="success text-right">@result.precision (+@{"%.2f".format(result.precision - oldStatResults(idx).precision)})</td>
        } else { @if(result.precision - oldStatResults(idx).precision <= -0.01) {
          <td class="danger text-right">@result.precision (@{"%.2f".format(result.precision - oldStatResults(idx).precision)})</td>
        } else {
          <td class="text-right">@result.precision</td>
        }}

        @if(result.recall - oldStatResults(idx).recall >= 0.01) {
          <td class="success text-right">@result.recall (+@{"%.2f".format(result.recall - oldStatResults(idx).recall)})</td>
        } else { @if(result.recall - oldStatResults(idx).recall <= -0.01) {
          <td class="danger text-right">@result.recall (@{"%.2f".format(result.recall - oldStatResults(idx).recall)})</td>
        } else {
          <td class="text-right">@result.recall</td>
        }}

        @if(result.fMeasure - oldStatResults(idx).fMeasure >= 0.01) {
          <td class="success text-right">@result.fMeasure (+@{"%.2f".format(result.fMeasure - oldStatResults(idx).fMeasure)})</td>
        } else { @if(result.fMeasure - oldStatResults(idx).fMeasure <= -0.01) {
          <td class="danger text-right">@result.fMeasure (@{"%.2f".format(result.fMeasure - oldStatResults(idx).fMeasure)})</td>
        } else {
          <td class="text-right">@result.fMeasure</td>
        }}
      </tr>
      }
      </tbody>
    </table>
  </div>
</div>
}
